<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © 2018 Audere Commerce Limited. All rights reserved.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="payment_method_is_active">
        <observer name="auderecommerce_accountsintegration_payment" instance="AudereCommerce\AccountsIntegration\Observer\Payment" />
    </event>
</config>