*
!/.blackfire.yml
!/.gitignore
!/.magento.app.yaml
!/.magento.env.yaml*
!/.magento
!/.magento/**
/.magento/local
!/app
!/app/*/
!/app/code/**
!/app/design/**
!/app/etc/config.php
!/app/i18n/**
!/auth.json
!/build_options.ini
!/composer.json
!/composer.lock
!/magento-vars.php
!/m2-hotfixes
!/m2-hotfixes/**
!/php.ini
!/scenario.bkf
!/update
!/update/.htaccess
!/README.md
.DS_Store
!/pub
!/pub/*/
!/pub/en-gb/
!/pub/en-gb/**
!/pub/en-us/
!/pub/en-us/**
!/pub/errors/tt/
!/pub/errors/tt/**
!/pub/errors/local.xml
!/lib/internal/Mageplaza
!/patches/
!/patches/**
!/pub/.well-known/
!/pub/.well-known/**


# Theme files
!package.json
!gulpfile.js
!dev/tools/gulp/configs/themes.js
!dev/tools/gulp/configs/browser-sync.js
!dev/tools/performance/config/performance.js