.quotation-quote-edit .admin__table-wrapper input {
    width: 120px;
}

#form_tabs_order_info_content table.data-table {
    background: #ffffff;
    border: 1px solid #E0E0E0;
    width: 100%;
}

#form_tabs_order_info_content table.data-table th, table.data-table td {
    padding: 16px 10px;
}

#form_tabs_order_info_content table.data-table th {
    font-weight: bold;
    text-align: left;
}

#form_tabs_order_info_content table.data-table thead th {
    background-color: #E0E0E0;
    background: #f1f1f1;
}

#form_tabs_order_info_content table.data-table tbody th, table.data-table tbody td {
    font-size: 15px;
    border: 1px solid #E0E0E0;
    border-width: 1px 0;
}

#form_tabs_order_info_content tbody tr:last-child td {
    border-bottom: 1px solid #f1f1f1;
}


.quotation-quote-create-index .admin__fieldset .field-email > .label, .quotation-quote-create-index .admin__fieldset .field-email > .control {
    margin-left: 0;
}

.quotation-quote-create-index .admin__fieldset .field-email > .control {
    margin-bottom: 10px;
}

.quotation-quote-create-index .order-sidebar .order-currency {
    margin-bottom: 0;
}

.admin__table-primary th:first-child, .admin__table-primary td:first-child {
    padding-left: 10px
}
.switcher-caption {
    font-size: 9px;
}
.order-information-table td {
    text-align: left;
}
span.quote-expiry-date,span.quote-remind-date {
    display: inline-table;
}

.order-search-items .admin__page-section-title .actions {
    float: right;
    margin-bottom: 1.7rem;
    margin-top: -.3rem;
}

.order-items .admin__page-section-title .actions {
    float: right;
    margin-bottom: 1.7rem;
    margin-top: -.3rem;
}

.quote-shipping-address,
.quote-proposal {
    float: left;
    width: calc( (100%) * 0.5 - 30px );
}

.quote-shipping-method,
.quote-totals,
.quote-view-account-information .quote-account-information {
    float: right;
    width: calc( (100%) * 0.5 - 30px );
}

/*.quote-additional-information .admin__field:nth-of-type(odd) {*/
    /*float: left;*/
    /*width: calc( (100%) * 0.5 - 30px );*/
/*}*/

/*.quote-additional-information .admin__field:nth-of-type(even) {*/
    /*float: right;*/
    /*width: calc( (100%) * 0.5 - 30px );*/
/*}*/

.admin__page-section-item-leftside {
    float: left;
    width: calc( (100%) * 0.5 - 30px );
}

.admin__page-section-item-rightside {
    float: right;
    width: calc( (100%) * 0.5 - 30px );
}

.quote-additional-information .admin__field{
    margin-top: 0px;
    margin-bottom: 15px;
}

.admin__field + .admin__field {
    margin-top: 0rem !important;
}

.admin__page-section-title .action-btn {
    display: inline-block;
    margin-left: 0.5rem;
}

.order-items .admin__page-section-title .action-btn {
    float: right;
    margin-bottom: 1.7rem;
    margin-top: -.3rem;
}