<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="auderecommerce" translate="label" sortOrder="1000">
            <label>Audere Commerce</label>
        </tab>
        <section id="auderecommerce_accountrequest" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Account Request</label>
            <tab>auderecommerce</tab>
            <resource>AudereCommerce_AccountRequest::config_account_request</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="email" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email</label>
                </field>
            </group>
        </section>
    </system>
</config>
