<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © 2018 Audere Commerce Limited. All rights reserved.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="AudereCommerce_KamarinEcommerceLink" setup_version="2.3.3"/>
</config>