<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © 2018 Audere Commerce Limited. All rights reserved.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="auderecommerce_tab" translate="label" sortOrder="1000">
            <label>Audere Commerce</label>
        </tab>
        <section id="auderecommerce_accountsintegration" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="0" showInStore="0">
            <label>Accounts Integration</label>
            <tab>auderecommerce_tab</tab>
            <resource>AudereCommerce_AccountsIntegration::config</resource>
            <group id="product" type="select" sortOrder="0" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Products</label>
                <field id="create" type="select" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Create new products</label>
                    <comment>Creates stock records as simple products with the default attribute set, status disabled, and visibility not visible individually. If enabled, mapped product attributes, base product prices, and product stock levels are also set on newly created products.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="price" type="select" sortOrder="4" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Import product price</label>
                    <comment>Sets the value of the stock record sell price as the Magento product price.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="price_bands" type="select" sortOrder="6" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Import price bands</label>
                    <comment>Stock record price bands are imported as customer group prices.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="update_attributes" type="select" sortOrder="8" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Import product attributes</label>
                    <comment>If enabled, sets the value of the stock record field (left-hand side) against the mapped product attribute (right-hand side). Select/multiselect Magento product attribute values are automatically created. If using stock factoring, these values are set first before stock factors are applied.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="update_attribute_cost_price" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Cost Price</label>
                    <source_model>AudereCommerce\AccountsIntegration\Model\Config\Source\Attributes</source_model>
                    <depends>
                        <field id="*/*/update_attributes">1</field>
                    </depends>
                </field>
                <field id="update_attribute_unit_description" type="select" sortOrder="15" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Unit Description</label>
                    <source_model>AudereCommerce\AccountsIntegration\Model\Config\Source\Attributes</source_model>
                    <depends>
                        <field id="*/*/update_attributes">1</field>
                    </depends>
                </field>
                <field id="update_attribute_extended_description" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Extended Description</label>
                    <source_model>AudereCommerce\AccountsIntegration\Model\Config\Source\Attributes</source_model>
                    <depends>
                        <field id="*/*/update_attributes">1</field>
                    </depends>
                </field>
                <field id="update_attribute_user_field_1" type="select" sortOrder="25" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>User Field 1</label>
                    <source_model>AudereCommerce\AccountsIntegration\Model\Config\Source\Attributes</source_model>
                    <depends>
                        <field id="*/*/update_attributes">1</field>
                    </depends>
                </field>
                <field id="update_attribute_user_field_2" type="select" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>User Field 2</label>
                    <source_model>AudereCommerce\AccountsIntegration\Model\Config\Source\Attributes</source_model>
                    <depends>
                        <field id="*/*/update_attributes">1</field>
                    </depends>
                </field>
                <field id="update_attribute_user_field_3" type="select" sortOrder="35" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>User Field 3</label>
                    <source_model>AudereCommerce\AccountsIntegration\Model\Config\Source\Attributes</source_model>
                    <depends>
                        <field id="*/*/update_attributes">1</field>
                    </depends>
                </field>
                <field id="update_attribute_user_field_4" type="select" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>User Field 4</label>
                    <source_model>AudereCommerce\AccountsIntegration\Model\Config\Source\Attributes</source_model>
                    <depends>
                        <field id="*/*/update_attributes">1</field>
                    </depends>
                </field>
                <field id="update_attribute_user_field_5" type="select" sortOrder="45" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>User Field 5</label>
                    <source_model>AudereCommerce\AccountsIntegration\Model\Config\Source\Attributes</source_model>
                    <depends>
                        <field id="*/*/update_attributes">1</field>
                    </depends>
                </field>
                <field id="update_attribute_user_field_6" type="select" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>User Field 6</label>
                    <source_model>AudereCommerce\AccountsIntegration\Model\Config\Source\Attributes</source_model>
                    <depends>
                        <field id="*/*/update_attributes">1</field>
                    </depends>
                </field>
                <field id="update_attribute_user_field_7" type="select" sortOrder="55" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>User Field 7</label>
                    <source_model>AudereCommerce\AccountsIntegration\Model\Config\Source\Attributes</source_model>
                    <depends>
                        <field id="*/*/update_attributes">1</field>
                    </depends>
                </field>
                <field id="update_attribute_user_field_8" type="select" sortOrder="60" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>User Field 8</label>
                    <source_model>AudereCommerce\AccountsIntegration\Model\Config\Source\Attributes</source_model>
                    <depends>
                        <field id="*/*/update_attributes">1</field>
                    </depends>
                </field>
                <field id="update_attribute_user_field_9" type="select" sortOrder="65" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>User Field 9</label>
                    <source_model>AudereCommerce\AccountsIntegration\Model\Config\Source\Attributes</source_model>
                    <depends>
                        <field id="*/*/update_attributes">1</field>
                    </depends>
                </field>
                <field id="update_attribute_user_field_10" type="select" sortOrder="70" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>User Field 10</label>
                    <source_model>AudereCommerce\AccountsIntegration\Model\Config\Source\Attributes</source_model>
                    <depends>
                        <field id="*/*/update_attributes">1</field>
                    </depends>
                </field>
                <field id="update_attribute_featured_item" type="select" sortOrder="75" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Featured Item</label>
                    <source_model>AudereCommerce\AccountsIntegration\Model\Config\Source\Attributes</source_model>
                    <depends>
                        <field id="*/*/update_attributes">1</field>
                    </depends>
                </field>
                <field id="update_attribute_weight" type="select" sortOrder="80" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Weight</label>
                    <source_model>AudereCommerce\AccountsIntegration\Model\Config\Source\Attributes</source_model>
                    <depends>
                        <field id="*/*/update_attributes">1</field>
                    </depends>
                </field>
                <field id="update_attribute_search_ref_1" type="select" sortOrder="85" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Search Ref 1</label>
                    <source_model>AudereCommerce\AccountsIntegration\Model\Config\Source\Attributes</source_model>
                    <depends>
                        <field id="*/*/update_attributes">1</field>
                    </depends>
                </field>
                <field id="update_attribute_search_ref_2" type="select" sortOrder="90" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Search Ref 2</label>
                    <source_model>AudereCommerce\AccountsIntegration\Model\Config\Source\Attributes</source_model>
                    <depends>
                        <field id="*/*/update_attributes">1</field>
                    </depends>
                </field>
                <field id="update_attribute_meta_title" type="select" sortOrder="95" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Meta Title</label>
                    <source_model>AudereCommerce\AccountsIntegration\Model\Config\Source\Attributes</source_model>
                    <depends>
                        <field id="*/*/update_attributes">1</field>
                    </depends>
                </field>
                <field id="update_attribute_meta_keywords" type="select" sortOrder="100" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Meta Keywords</label>
                    <source_model>AudereCommerce\AccountsIntegration\Model\Config\Source\Attributes</source_model>
                    <depends>
                        <field id="*/*/update_attributes">1</field>
                    </depends>
                </field>
                <field id="update_attribute_custom_text_1" type="select" sortOrder="105" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Custom Text 1</label>
                    <source_model>AudereCommerce\AccountsIntegration\Model\Config\Source\Attributes</source_model>
                    <depends>
                        <field id="*/*/update_attributes">1</field>
                    </depends>
                </field>
                <field id="update_attribute_custom_text_2" type="select" sortOrder="110" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Custom Text 2</label>
                    <source_model>AudereCommerce\AccountsIntegration\Model\Config\Source\Attributes</source_model>
                    <depends>
                        <field id="*/*/update_attributes">1</field>
                    </depends>
                </field>
                <field id="update_attribute_custom_text_3" type="select" sortOrder="115" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Custom Text 3</label>
                    <source_model>AudereCommerce\AccountsIntegration\Model\Config\Source\Attributes</source_model>
                    <depends>
                        <field id="*/*/update_attributes">1</field>
                    </depends>
                </field>
                <field id="update_attribute_custom_date_1" type="select" sortOrder="120" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Custom Date 1</label>
                    <source_model>AudereCommerce\AccountsIntegration\Model\Config\Source\Attributes</source_model>
                    <depends>
                        <field id="*/*/update_attributes">1</field>
                    </depends>
                </field>
                <field id="update_attribute_custom_date_2" type="select" sortOrder="125" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Custom Date 2</label>
                    <source_model>AudereCommerce\AccountsIntegration\Model\Config\Source\Attributes</source_model>
                    <depends>
                        <field id="*/*/update_attributes">1</field>
                    </depends>
                </field>
            </group>
            <group id="stock" type="select" sortOrder="5" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Stock</label>
                <field id="import" type="select" sortOrder="0" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Import stock quantity and status</label>
                    <comment>Sets the stock quantity and stock status for Magento products. Observes configured Magento behaviour around backorders when it comes to setting products as in/out of stock.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="multiple_locations" type="select" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Use multiple stock locations</label>
                    <comment>By default, importing stock quantity and status uses free stock quantity on the stock record. Use this if you wish to aggregate stock levels from selected stock locations.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="*/*/import">1</field>
                    </depends>
                </field>
                <field id="locations" type="multiselect" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Use these stock locations</label>
                    <comment>If no stock locations appear above, this is because they have not been configured correctly in the KC EC Link.</comment>
                    <source_model>AudereCommerce\AccountsIntegration\Model\Config\Source\Stock\Location</source_model>
                    <depends>
                        <field id="*/*/import">1</field>
                        <field id="*/*/multiple_locations">1</field>
                    </depends>
                </field>
            </group>
            <group id="factor" type="select" sortOrder="15" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Stock factoring</label>
                <field id="enable" type="select" sortOrder="0" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable stock factoring</label>
                    <comment>Use if either Magento products or accounts stock records are priced/stocked based on boxes/multiple units.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="attribute" type="select" sortOrder="5" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Stock factor attribute</label>
                    <comment>Which Magento product attribute to use for stock factoring. This value represents the number of units in a single box/multiple quantity item (e.g. length/amount), for stock and price calculations. Ensure this attribute exists in all attribute sets.</comment>
                    <source_model>AudereCommerce\AccountsIntegration\Model\Config\Source\Attributes</source_model>
                    <depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                </field>
                <field id="default" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Stock factoring default value</label>
                    <comment>This value will be used when the product stock factor is not set.</comment>
                    <depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                </field>
                <field id="type" type="select" sortOrder="15" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Stock factoring type</label>
                    <source_model>AudereCommerce\AccountsIntegration\Model\Config\Source\Factor\Type</source_model>
                    <depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                </field>
            </group>
            <group id="customer" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Customers</label>
                <field id="account" type="select" sortOrder="0" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Import or update accounts</label>
                    <comment>Creates/updates customer groups in Magento, linked to accounts.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="price" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Import account prices</label>
                    <comment>Account prices are imported as customer group prices.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="*/*/account">1</field>
                    </depends>
                </field>
                <field id="discount" type="select" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Import account discounts</label>
                    <comment>Account discounts are imported catalogue price rules.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="*/*/account">1</field>
                    </depends>
                </field>
                <field id="email_field" type="select" sortOrder="3" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Customer email field</label>
                    <comment>When creating or linking customers, which field is used to store the primary email address on the account in the accounts software.</comment>
                    <source_model>AudereCommerce\AccountsIntegration\Model\Config\Source\Customer\EmailField</source_model>
                    <depends>
                        <field id="*/*/account">1</field>
                    </depends>
                </field>
                <field id="link" type="select" sortOrder="5" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Link existing Magento customers to accounts.</label>
                    <comment>Sets the customer group of Magento customers to match that of their customer account in the accounts software.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="*/*/account">1</field>
                    </depends>
                </field>
                <field id="import" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Create new customers</label>
                    <comment>Accounts are first created as Magento customer groups. A single Magento customer account is created and assigned to that customer group.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="*/*/account">1</field>
                    </depends>
                </field>
                <field id="default_tax_class" type="select" sortOrder="15" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Default Magento customer tax class</label>
                    <comment>The Magento tax class used when creating a new Magento customer group. This is a customer-wide value.</comment>
                    <source_model>AudereCommerce\AccountsIntegration\Model\Config\Source\Customer\TaxClass</source_model>
                    <depends>
                        <field id="*/*/account">1</field>
                        <field id="*/*/import">1</field>
                    </depends>
                </field>
                <field id="send_emails" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Send welcome emails on new customer creation</label>
                    <comment>This should only be set to yes on live environments.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="*/*/account">1</field>
                        <field id="*/*/import">1</field>
                    </depends>
                </field>

            </group>
            <group id="order" type="select" sortOrder="25" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Orders</label>
                <field id="export" type="select" sortOrder="0" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Export orders from Magento</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="export_date_start" type="date" sortOrder="3" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Export orders from date</label>
                    <comment>Export orders placed on and after this date</comment>
                    <frontend_model>AudereCommerce\AccountsIntegration\Block\Adminhtml\System\Config\Date</frontend_model>
                    <depends>
                        <field id="*/*/export">1</field>
                    </depends>
                </field>
                <field id="export_statuses" type="multiselect" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Order export status</label>
                    <comment>Export Orders with the selected Order Statuses</comment>
                    <source_model>AudereCommerce\AccountsIntegration\Model\Config\Source\Order\Status</source_model>
                    <depends>
                        <field id="*/*/export">1</field>
                    </depends>
                </field>
                <field id="location" type="text" sortOrder="5" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Default stock location</label>
                    <comment>The stock location orders will be posted to.</comment>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="*/*/export">1</field>
                    </depends>
                </field>
                <field id="default_account" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Default account code</label>
                    <comment>Default web sales account code. Used on order export when no customer account is used.</comment>
                    <depends>
                        <field id="*/*/export">1</field>
                    </depends>
                </field>
                <field id="export_shipping" type="select" sortOrder="15" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Export shipping as line item</label>
                    <comment>Exports the orders shipping information as an order line item.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="*/*/export">1</field>
                    </depends>
                </field>
                <field id="shipping_stock_code" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Shipping Stock Code</label>
                    <comment>Used on order item export as the shipping line items stock code.</comment>
                    <depends>
                        <field id="*/*/export">1</field>
                        <field id="*/*/export_shipping">1</field>
                    </depends>
                </field>
                <field id="shipping_vat_code" type="select" sortOrder="25" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Shipping VAT Code</label>
                    <comment>Used on order item export as the shipping line items VAT code.</comment>
                    <source_model>AudereCommerce\AccountsIntegration\Model\Config\Source\Vatrate</source_model>
                    <depends>
                        <field id="*/*/export">1</field>
                        <field id="*/*/export_shipping">1</field>
                    </depends>
                </field>
                <field id="shipment" type="select" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Import shipments into Magento</label>
                    <comment>Creates Magento shipments from accounts software shipment notifications.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="*/*/export">1</field>
                    </depends>
                </field>
                <field id="shipment_quantity" type="select" sortOrder="35" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Shipment quantity</label>
                    <comment>Which quantity to use to mark an order line item as shipped.</comment>
                    <source_model>AudereCommerce\AccountsIntegration\Model\Config\Source\Shipment\Quantity</source_model>
                    <depends>
                        <field id="*/*/shipment">1</field>
                    </depends>
                </field>
                <field id="shipment_invoice" type="select" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Invoice on shipment</label>
                    <validate>required-entry</validate>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Create a Magento invoice for shipped orders if they do not already have one.</comment>
                    <depends>
                        <field id="*/*/shipment">1</field>
                    </depends>
                </field>
                <field id="po" type="select" sortOrder="55" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable purchase ordering</label>
                    <validate>required-entry</validate>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Allow customers to pay with purchase order if their linked account has enough credit. Relies on purchase order being set as an allowed payment method. If the linked account doesn't have enough credit, purchase order is disabled as an allowed payment method for that customer.</comment>
                </field>
            </group>
        </section>
    </system>
</config>