<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="AudereCommerce_BrandManager::brandmanager" title="Brand Manager" translate="title" module="AudereCommerce_BrandManager" sortOrder="0" parent="Magento_Backend::content" resource="AudereCommerce_BrandManager::brandmanager" />
        <add id="AudereCommerce_BrandManager::brandmanager_brand" title="Brand" translate="title" module="AudereCommerce_BrandManager" sortOrder="10" parent="AudereCommerce_BrandManager::brandmanager" action="brandmanager/brand" resource="AudereCommerce_BrandManager::brand" />
    </menu>
</config>
